@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;500;600&display=swap');

body {
    margin: 0;
    background-color: #82A0D8;
    text-align: center;
}

header {
    font-family: 'Pixelify Sans';
}