body {
    text-align: center;
}

#logo {
    width: 300px;
}

.answer {
    font-weight: bold;
}

.won {
    color: green;
    display: block;
    font-weight: bold;
}

.lost {
    color: red;
    display: block;
    font-weight: bold;
}

form {
    margin-bottom: 30px;
}

.error-alert-alert-danger {
    color: red;
    font-weight: bold;
}

h2 {
    margin-left: 20px;
}

ul {
    text-decoration: none;
    list-style-type: none;
    text-align: center;
}

li {
    margin-right: 40px;
}

a {
    color: black;
    margin-left: 20px;
}

a:hover {
    color: #7586ED;
}

input {
    margin-top: 30px;
    margin-bottom: 30px;
}

.submit-btn {
    border-color: orange;
    background-color: #e6b037;
    color: white;
    border-radius: 10px;
    margin: 0 auto;
    font-size: 20px;
    display: block;
    text-align: center;
}

.submit-btn:hover {
    background-color: #7586ED;
    border-color: #3287EC;
    transition: all .5s ease-in-out;
}